# Pandas functions
https://www.youtube.com/watch?v=pakqNsPITSg&list=PLfP3JxW-T70Gf4iJXPb0Yw5_-tDRCD6LB&index=2&frags=wn&ab_channel=IndianAIProduction

In [4]:
import pandas as pd
pd.__version__

'1.0.5'

In [9]:
#series can be created using list as series is labelled 1d homogemous array
list1 = [1,2,3]
print(list1)

[1, 2, 3]

In [10]:
series1 = pd.Series(list1)
print(series1)

0    1
1    2
2    3
dtype: int64

In [17]:
list2 = [1,2,3,'a',"goal"]
series2 = pd.Series(list2)
print(series2)

0       1
1       2
2       3
3       a
4    goal
dtype: object

In [18]:
type(series1)
type(series2)

pandas.core.series.Series

In [23]:
series3 = pd.Series(['a','b',11,12,12.45], index = ['A','B','C','d','E'])
print(series3)

A        a
B        b
C       11
d       12
E    12.45
dtype: object

In [32]:
series4 = pd.Series([11,12,12], index = ['A','B','C'], dtype= str)
print(series4)
type(series4)

A    11
B    12
C    12
dtype: object

pandas.core.series.Series

In [34]:
#scaler values(single values in whole series) need to assign index
s4 = pd.Series(10, index=[11,12,12])
print(s4)

11    10
12    10
12    10
dtype: int64

In [39]:
#series creation using dictionary
s5 = pd.Series({11:'a',12:2000})
print(s5)

11       a
12    2000
dtype: object

In [41]:
#can find a value in a series using index value
print(series2)

0       1
1       2
2       3
3       a
4    goal
dtype: object

In [44]:
series2[1]

2

In [45]:
series2[3]

'a'

In [49]:
#slice operation using :
series2[1:4]

1    2
2    3
3    a
dtype: object

In [50]:
s5 = pd.Series([3,6,1,8,1,5,3,1,6])
print(s5)

0    3
1    6
2    1
3    8
4    1
5    5
6    3
7    1
8    6
dtype: int64

In [51]:
#can use max() function 
max(s5)

8

In [52]:
#can use min() function 
min(s5)

1

In [54]:
#use of conditional operator
s5[s5 > 3]

1    6
3    8
5    5
8    6
dtype: int64

In [55]:
#additon of two series
s6 = pd.Series([10,20,30])
s7 = pd.Series(5,index=[1,2,3])
s6 + s7

0     NaN
1    25.0
2    35.0
3     NaN
dtype: float64

In [56]:
s6 = pd.Series([10,20,30])
s7 = pd.Series(5,index=[0,1,2])
s6 + s7

0    15
1    25
2    35
dtype: int64