In [2]:
import pandas as pd
empty_df = pd.DataFrame()
print(empty_df)

Empty DataFrame
Columns: []
Index: []

In [2]:
list1 = [1,2,3,4,5]
df1 = pd.DataFrame(list1)
print(df1)

   0
0  1
1  2
2  3
3  4
4  5

In [3]:
df1

   0
0  1
1  2
2  3
3  4
4  5

In [4]:
#list of list
list2 = [[1,2,3],[11,12,13],[21,22,23]]
df2 = pd.DataFrame(list2)
df2

    0   1   2
0   1   2   3
1  11  12  13
2  21  22  23

In [5]:
dict1 = {"col1":[1,2,3]}
df3 = pd.DataFrame(dict1)
df3

   col1
0     1
1     2
2     3

In [7]:
dict1 = {"col1":[1,2,3], "col2":[11,12,13], "col3":[21,22,23]}
df3 = pd.DataFrame(dict1)
df3

   col1  col2  col3
0     1    11    21
1     2    12    22
2     3    13    23

In [13]:
#list of dictionaries
ls_dict = [{"col1":1, "col2":2, "col3":3}, {"col1":11, "col2":12}]
df4 = pd.DataFrame(ls_dict)
df4

   col1  col2  col3
0     1     2   3.0
1    11    12   NaN

In [14]:
#series of dictionaries
sr_dict = {'col1':pd.Series([1,2,3]), 'col2':pd.Series([11,12,13]), 'col3':pd.Series([21,22])}
df5 = pd.DataFrame(sr_dict)
df5

   col1  col2  col3
0     1    11  21.0
1     2    12  22.0
2     3    13   NaN

# some operations on csv file

In [18]:
dframe = pd.read_csv('D:\\ML FDP\\certi\\practice1.csv')
dframe

   basic     DA  Unnamed: 2  service year  X 15  Unnamed: 5   Unnamed: 6
0   8825  27800       36625             7    15     3845625  147908.6538
1   8825  27800       36625            20    15    10987500  422596.1538
2   8825  27800       36625            30    15    16481250  633894.2308
3   8825  27800       36625            40    15    21975000  845192.3077

In [19]:
dframe = pd.read_csv('D:\\ML FDP\\certi\\practice1.csv',nrows = 2)
dframe

   basic     DA  Unnamed: 2  service year  X 15  Unnamed: 5   Unnamed: 6
0   8825  27800       36625             7    15     3845625  147908.6538
1   8825  27800       36625            20    15    10987500  422596.1538

In [20]:
dframe = pd.read_csv('D:\\ML FDP\\certi\\practice1.csv', usecols=[0])
dframe

   basic
0   8825
1   8825
2   8825
3   8825

In [22]:
dframe = pd.read_csv('D:\\ML FDP\\certi\\practice1.csv',nrows=2, usecols=[0,1,2])
dframe

   basic     DA  Unnamed: 2
0   8825  27800       36625
1   8825  27800       36625

# header

In [8]:
dframe = pd.read_csv('D:\\ML FDP\\certi\\student.csv')
dframe.head()

,Timestamp,Email Address,Name of student,seat number,enrollment number,roll number,email id (only gmail which we can use at the time of practical viva),Unnamed: 7,Unnamed: 8
0,09-11-2020 21:17,shubhamchavan957@gmail.com,Shubham Jitendra Chavan,131267.0,1505480163,1.0,shubhamchavan957@gmail.com,NaN,NaN
1,09-11-2020 21:03,salmansalways@gmail.com,Mohd. Salman,131268.0,1705480069,2.0,salmansalways@gmail.com,NaN,NaN
2,09-11-2020 21:07,siddhikale23@gmail.com,Siddhi Kale,131269.0,1705480084,3.0,Siddhikale23@gmail.com,NaN,NaN
3,09-12-2020 00:00,mandtsurve78@gmail.com,Mandar Dilip Surve,131270.0,1705480086,4.0,mandtsurve78@gmail.com,NaN,NaN
4,09-12-2020 00:26,siddharthdyamgond@gmail.com,Siddharth Dyamgond,131271.0,1705480088,5.0,siddharthdyamgond@gmail.com,NaN,NaN

In [6]:
#to change header to a particular row
pd.read_csv('D:\\ML FDP\\certi\\student.csv',header = 2)

,09-11-2020 21:03,salmansalways@gmail.com,Mohd. Salman,131268,1705480069,2,salmansalways@gmail.com.1,Unnamed: 7,Unnamed: 8
0,09-11-2020 21:07,siddhikale23@gmail.com,Siddhi Kale,131269.0,1705480084,3.0,Siddhikale23@gmail.com,NaN,NaN
1,09-12-2020 00:00,mandtsurve78@gmail.com,Mandar Dilip Surve,131270.0,1705480086,4.0,mandtsurve78@gmail.com,NaN,NaN
2,09-12-2020 00:26,siddharthdyamgond@gmail.com,Siddharth Dyamgond,131271.0,1705480088,5.0,siddharthdyamgond@gmail.com,NaN,NaN
3,09-11-2020 20:59,Vaishnavimore2210@gmail.com,Vaishnavi Santosh More,131272.0,1705480090,6.0,Vaishnavimore2210@gmail.com,NaN,NaN
4,09-12-2020 00:24,sakshisonone10@gmail.com,Sakshi Sanjeev Sonone,131273.0,1705480091,7.0,sakshisonone10@gmail.com,NaN,NaN
5,09-11-2020 23:05,abidhk27@gmail.com,Mohammed Abid Hanif Khan,131274.0,1705480094,8.0,abidhk27@gmail.com,NaN,NaN
6,09-12-2020 12:44,akanshapatil2001@gmail.com,Akansha Anandrao Patil,131275.0,1705480097,9.0,akanshapatil2001@gmail.com,NaN,NaN
7,09-11-2020 20:54,official.avdhutgharat@gmail.com,Avdhut Gharat,131276.0,1705480099,10.0,official.avdhutgharat@gmail.com,NaN,NaN
8,09-11-2020 21:00,heetraichura1543@gmail.com,Heet Himanshu Raichura,131277.0,1705480100,11.0,heetraichura1543@gmail.com,NaN,NaN
9,09-11-2020 22:38,sana12nasur@gmail.com,Nasur Sana Shabbirahamad,131278.0,1705480102,12.0,sana12nasur@gmail.com,NaN,NaN
10,09-11-2020 23:56,namratathakur2505@gmail.com,Namrata Chandrakant Thakur,131279.0,1705480103,13.0,namratathakur2505@gmail.com,NaN,NaN
11,09-11-2020 20:58,DARSHANCHIKHALEKAR123@GMAIL.COM,DARSHAN RAM CHIKHALEKAR,131280.0,1705480104,14.0,DARSHANCHIKHALEKAR123@GMAIL.COM,NaN,NaN
12,09-11-2020 21:02,kadukaushal2002@gmail.com,Kaushal Dayaram Kadu,131281.0,1705480106,15.0,kadukaushal2002@gmail.com,NaN,NaN
13,09-12-2020 12:04,surabhiyerunkar20@gmail.com,Surabhi sujit yerunkar,131282.0,1705480107,16.0,surabhiyerunkar20@gmail.com,NaN,NaN
14,09-11-2020 20:58,patilom04022002@gmail.com,Om Nitin Patil,131283.0,1705480110,17.0,patilom04022002@gmail.com,NaN,NaN
15,09-11-2020 23:44,shrutisatam1999@gmail.com,Shruti Sanjay Satam,131284.0,1705480114,18.0,shrutisatam1999@gmail.com,NaN,NaN
16,09-11-2020 21:01,khutarkar99@gmail.com,Bhushan Khutarkar,131285.0,1705480117,19.0,khutarkar99@gmail.com,NaN,NaN
17,09-12-2020 12:10,shubhamghadigaonkar185@gmail.com,Shubham ghadigaonkar,131286.0,1705480119,20.0,Shubhamghadigaonkar185@gmail.com,NaN,NaN
18,09-11-2020 20:55,akash.bharnuke@gmail.com,Bharnuke Akash Dilip,131287.0,1705480122,21.0,akash.bharnuke@gmail.com,NaN,NaN
19,09-12-2020 13:14,kajal.gajare25@gmail.com,Supriya Chokha Gajare,131289.0,1705480127,23.0,kajal.gajare25@gmail.com,NaN,NaN
20,09-11-2020 21:11,manvi.bhaldare@gmail.com,Manvi Mahendra Bhaldare,131290.0,1705480128,24.0,manvi.bhaldare@gmail.com,NaN,NaN
21,09-11-2020 21:16,rushikesh2310patil@gmail.com,Rushikesh Vilas Patil,131291.0,1705480129,25.0,rushikesh2310patil@gmail.com,NaN,NaN
22,09-12-2020 13:17,donaryansingh46@gmail.com,aryan singh,131292.0,1705480131,26.0,donaryansingh46@gmail.com,NaN,NaN
23,09-12-2020 06:26,nehasingh5963@gmail.com,Neha V Singh,131293.0,1805480135,27.0,nehasingh5963@gmail.com,NaN,NaN
24,09-11-2020 21:29,purvapatil8081@gmail.com,Purva Pradeep Patil,131294.0,1805480137,28.0,purvapatil8081@gmail.com,NaN,NaN
25,09-11-2020 21:50,joshijyoti845408@gmail.com,Joshi Jyoti Jitendra,131295.0,1805480141,29.0,joshijyoti845408@gmail.com,NaN,NaN
26,09-11-2020 21:06,niharkhot123@gmail.com,Nihar Sameer Khot,131296.0,1805480158,30.0,niharkhot123@gmail.com,NaN,NaN
27,09-11-2020 22:33,sherkarsahil@gmail.com,Sahil,131297.0,1805480159,31.0,Sherkarsahil@gmail.com,NaN,NaN
28,NaN,a@a.com,NaN,101010101.0,yes,NaN,a@a.com,NaN,NaN
29,NaN,a@a.com,NaN,101010101.0,no,NaN,a@a.com,NaN,NaN
30,NaN,a@a.com,NaN,101010101.0,yes,NaN,a@a.com,NaN,NaN
31,NaN,a@a.com,NaN,101010101.0,no,NaN,a@a.com,NaN,NaN
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
#if you dont want any header
pd.read_csv('D:\\ML FDP\\certi\\student.csv', header = None)

,0,1,2,3,4,5,6,7,8
0,Timestamp,Email Address,Name of student,seat number,enrollment number,roll number,email id (only gmail which we can use at the t...,NaN,NaN
1,09-11-2020 21:17,shubhamchavan957@gmail.com,Shubham Jitendra Chavan,131267,1505480163,1,shubhamchavan957@gmail.com,NaN,NaN
2,09-11-2020 21:03,salmansalways@gmail.com,Mohd. Salman,131268,1705480069,2,salmansalways@gmail.com,NaN,NaN
3,09-11-2020 21:07,siddhikale23@gmail.com,Siddhi Kale,131269,1705480084,3,Siddhikale23@gmail.com,NaN,NaN
4,09-12-2020 00:00,mandtsurve78@gmail.com,Mandar Dilip Surve,131270,1705480086,4,mandtsurve78@gmail.com,NaN,NaN
5,09-12-2020 00:26,siddharthdyamgond@gmail.com,Siddharth Dyamgond,131271,1705480088,5,siddharthdyamgond@gmail.com,NaN,NaN
6,09-11-2020 20:59,Vaishnavimore2210@gmail.com,Vaishnavi Santosh More,131272,1705480090,6,Vaishnavimore2210@gmail.com,NaN,NaN
7,09-12-2020 00:24,sakshisonone10@gmail.com,Sakshi Sanjeev Sonone,131273,1705480091,7,sakshisonone10@gmail.com,NaN,NaN
8,09-11-2020 23:05,abidhk27@gmail.com,Mohammed Abid Hanif Khan,131274,1705480094,8,abidhk27@gmail.com,NaN,NaN
9,09-12-2020 12:44,akanshapatil2001@gmail.com,Akansha Anandrao Patil,131275,1705480097,9,akanshapatil2001@gmail.com,NaN,NaN
10,09-11-2020 20:54,official.avdhutgharat@gmail.com,Avdhut Gharat,131276,1705480099,10,official.avdhutgharat@gmail.com,NaN,NaN
11,09-11-2020 21:00,heetraichura1543@gmail.com,Heet Himanshu Raichura,131277,1705480100,11,heetraichura1543@gmail.com,NaN,NaN
12,09-11-2020 22:38,sana12nasur@gmail.com,Nasur Sana Shabbirahamad,131278,1705480102,12,sana12nasur@gmail.com,NaN,NaN
13,09-11-2020 23:56,namratathakur2505@gmail.com,Namrata Chandrakant Thakur,131279,1705480103,13,namratathakur2505@gmail.com,NaN,NaN
14,09-11-2020 20:58,DARSHANCHIKHALEKAR123@GMAIL.COM,DARSHAN RAM CHIKHALEKAR,131280,1705480104,14,DARSHANCHIKHALEKAR123@GMAIL.COM,NaN,NaN
15,09-11-2020 21:02,kadukaushal2002@gmail.com,Kaushal Dayaram Kadu,131281,1705480106,15,kadukaushal2002@gmail.com,NaN,NaN
16,09-12-2020 12:04,surabhiyerunkar20@gmail.com,Surabhi sujit yerunkar,131282,1705480107,16,surabhiyerunkar20@gmail.com,NaN,NaN
17,09-11-2020 20:58,patilom04022002@gmail.com,Om Nitin Patil,131283,1705480110,17,patilom04022002@gmail.com,NaN,NaN
18,09-11-2020 23:44,shrutisatam1999@gmail.com,Shruti Sanjay Satam,131284,1705480114,18,shrutisatam1999@gmail.com,NaN,NaN
19,09-11-2020 21:01,khutarkar99@gmail.com,Bhushan Khutarkar,131285,1705480117,19,khutarkar99@gmail.com,NaN,NaN
20,09-12-2020 12:10,shubhamghadigaonkar185@gmail.com,Shubham ghadigaonkar,131286,1705480119,20,Shubhamghadigaonkar185@gmail.com,NaN,NaN
21,09-11-2020 20:55,akash.bharnuke@gmail.com,Bharnuke Akash Dilip,131287,1705480122,21,akash.bharnuke@gmail.com,NaN,NaN
22,09-12-2020 13:14,kajal.gajare25@gmail.com,Supriya Chokha Gajare,131289,1705480127,23,kajal.gajare25@gmail.com,NaN,NaN
23,09-11-2020 21:11,manvi.bhaldare@gmail.com,Manvi Mahendra Bhaldare,131290,1705480128,24,manvi.bhaldare@gmail.com,NaN,NaN
24,09-11-2020 21:16,rushikesh2310patil@gmail.com,Rushikesh Vilas Patil,131291,1705480129,25,rushikesh2310patil@gmail.com,NaN,NaN
25,09-12-2020 13:17,donaryansingh46@gmail.com,aryan singh,131292,1705480131,26,donaryansingh46@gmail.com,NaN,NaN
26,09-12-2020 06:26,nehasingh5963@gmail.com,Neha V Singh,131293,1805480135,27,nehasingh5963@gmail.com,NaN,NaN
27,09-11-2020 21:29,purvapatil8081@gmail.com,Purva Pradeep Patil,131294,1805480137,28,purvapatil8081@gmail.com,NaN,NaN
28,09-11-2020 21:50,joshijyoti845408@gmail.com,Joshi Jyoti Jitendra,131295,1805480141,29,joshijyoti845408@gmail.com,NaN,NaN
29,09-11-2020 21:06,niharkhot123@gmail.com,Nihar Sameer Khot,131296,1805480158,30,niharkhot123@gmail.com,NaN,NaN
30,09-11-2020 22:33,sherkarsahil@gmail.com,Sahil,131297,1805480159,31,Sherkarsahil@gmail.com,NaN,NaN
31,NaN,a@a.com,NaN,101010101,yes,NaN,a@a.com,NaN,NaN
32,NaN,a@a.com,NaN,101010101,no,NaN,a@a.com,NaN,NaN
33,NaN,a@a.com,NaN,101010101,yes,NaN,a@a.com,NaN,NaN
34,NaN,a@a.com,NaN,101010101,no,NaN,a@a.com,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#you can use prefix to set certaion value to coloumn name
pd.read_csv('D:\\ML FDP\\certi\\student.csv', header = None, prefix = 'col')

,col0,col1,col2,col3,col4,col5,col6,col7,col8
0,Timestamp,Email Address,Name of student,seat number,enrollment number,roll number,email id (only gmail which we can use at the t...,NaN,NaN
1,09-11-2020 21:17,shubhamchavan957@gmail.com,Shubham Jitendra Chavan,131267,1505480163,1,shubhamchavan957@gmail.com,NaN,NaN
2,09-11-2020 21:03,salmansalways@gmail.com,Mohd. Salman,131268,1705480069,2,salmansalways@gmail.com,NaN,NaN
3,09-11-2020 21:07,siddhikale23@gmail.com,Siddhi Kale,131269,1705480084,3,Siddhikale23@gmail.com,NaN,NaN
4,09-12-2020 00:00,mandtsurve78@gmail.com,Mandar Dilip Surve,131270,1705480086,4,mandtsurve78@gmail.com,NaN,NaN
5,09-12-2020 00:26,siddharthdyamgond@gmail.com,Siddharth Dyamgond,131271,1705480088,5,siddharthdyamgond@gmail.com,NaN,NaN
6,09-11-2020 20:59,Vaishnavimore2210@gmail.com,Vaishnavi Santosh More,131272,1705480090,6,Vaishnavimore2210@gmail.com,NaN,NaN
7,09-12-2020 00:24,sakshisonone10@gmail.com,Sakshi Sanjeev Sonone,131273,1705480091,7,sakshisonone10@gmail.com,NaN,NaN
8,09-11-2020 23:05,abidhk27@gmail.com,Mohammed Abid Hanif Khan,131274,1705480094,8,abidhk27@gmail.com,NaN,NaN
9,09-12-2020 12:44,akanshapatil2001@gmail.com,Akansha Anandrao Patil,131275,1705480097,9,akanshapatil2001@gmail.com,NaN,NaN
10,09-11-2020 20:54,official.avdhutgharat@gmail.com,Avdhut Gharat,131276,1705480099,10,official.avdhutgharat@gmail.com,NaN,NaN
11,09-11-2020 21:00,heetraichura1543@gmail.com,Heet Himanshu Raichura,131277,1705480100,11,heetraichura1543@gmail.com,NaN,NaN
12,09-11-2020 22:38,sana12nasur@gmail.com,Nasur Sana Shabbirahamad,131278,1705480102,12,sana12nasur@gmail.com,NaN,NaN
13,09-11-2020 23:56,namratathakur2505@gmail.com,Namrata Chandrakant Thakur,131279,1705480103,13,namratathakur2505@gmail.com,NaN,NaN
14,09-11-2020 20:58,DARSHANCHIKHALEKAR123@GMAIL.COM,DARSHAN RAM CHIKHALEKAR,131280,1705480104,14,DARSHANCHIKHALEKAR123@GMAIL.COM,NaN,NaN
15,09-11-2020 21:02,kadukaushal2002@gmail.com,Kaushal Dayaram Kadu,131281,1705480106,15,kadukaushal2002@gmail.com,NaN,NaN
16,09-12-2020 12:04,surabhiyerunkar20@gmail.com,Surabhi sujit yerunkar,131282,1705480107,16,surabhiyerunkar20@gmail.com,NaN,NaN
17,09-11-2020 20:58,patilom04022002@gmail.com,Om Nitin Patil,131283,1705480110,17,patilom04022002@gmail.com,NaN,NaN
18,09-11-2020 23:44,shrutisatam1999@gmail.com,Shruti Sanjay Satam,131284,1705480114,18,shrutisatam1999@gmail.com,NaN,NaN
19,09-11-2020 21:01,khutarkar99@gmail.com,Bhushan Khutarkar,131285,1705480117,19,khutarkar99@gmail.com,NaN,NaN
20,09-12-2020 12:10,shubhamghadigaonkar185@gmail.com,Shubham ghadigaonkar,131286,1705480119,20,Shubhamghadigaonkar185@gmail.com,NaN,NaN
21,09-11-2020 20:55,akash.bharnuke@gmail.com,Bharnuke Akash Dilip,131287,1705480122,21,akash.bharnuke@gmail.com,NaN,NaN
22,09-12-2020 13:14,kajal.gajare25@gmail.com,Supriya Chokha Gajare,131289,1705480127,23,kajal.gajare25@gmail.com,NaN,NaN
23,09-11-2020 21:11,manvi.bhaldare@gmail.com,Manvi Mahendra Bhaldare,131290,1705480128,24,manvi.bhaldare@gmail.com,NaN,NaN
24,09-11-2020 21:16,rushikesh2310patil@gmail.com,Rushikesh Vilas Patil,131291,1705480129,25,rushikesh2310patil@gmail.com,NaN,NaN
25,09-12-2020 13:17,donaryansingh46@gmail.com,aryan singh,131292,1705480131,26,donaryansingh46@gmail.com,NaN,NaN
26,09-12-2020 06:26,nehasingh5963@gmail.com,Neha V Singh,131293,1805480135,27,nehasingh5963@gmail.com,NaN,NaN
27,09-11-2020 21:29,purvapatil8081@gmail.com,Purva Pradeep Patil,131294,1805480137,28,purvapatil8081@gmail.com,NaN,NaN
28,09-11-2020 21:50,joshijyoti845408@gmail.com,Joshi Jyoti Jitendra,131295,1805480141,29,joshijyoti845408@gmail.com,NaN,NaN
29,09-11-2020 21:06,niharkhot123@gmail.com,Nihar Sameer Khot,131296,1805480158,30,niharkhot123@gmail.com,NaN,NaN
30,09-11-2020 22:33,sherkarsahil@gmail.com,Sahil,131297,1805480159,31,Sherkarsahil@gmail.com,NaN,NaN
31,NaN,a@a.com,NaN,101010101,yes,NaN,a@a.com,NaN,NaN
32,NaN,a@a.com,NaN,101010101,no,NaN,a@a.com,NaN,NaN
33,NaN,a@a.com,NaN,101010101,yes,NaN,a@a.com,NaN,NaN
34,NaN,a@a.com,NaN,101010101,no,NaN,a@a.com,NaN,NaN
35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#you can provoide header of coloumns in a list
pd.read_csv('D:\\ML FDP\\certi\\student.csv', names = ['A','B','C','D','E','F','G','H','I']).tail()

      A        B    C          D    E    F        G   H   I
31  NaN  a@a.com  NaN  101010101  yes  NaN  a@a.com NaN NaN
32  NaN  a@a.com  NaN  101010101   no  NaN  a@a.com NaN NaN
33  NaN  a@a.com  NaN  101010101  yes  NaN  a@a.com NaN NaN
34  NaN  a@a.com  NaN  101010101   no  NaN  a@a.com NaN NaN
35  NaN      NaN  NaN        NaN  NaN  NaN      NaN NaN NaN

In [18]:
#you can change datatype of a coloumn
pd.read_csv('D:\\ML FDP\\certi\\student.csv',dtype = {'seat number':'int32'}).head()

ValueError: Integer column has NA values in column 3

In [38]:
#df2 = pd.read_csv('D:\\ML FDP\\certi\\student.csv', true_values = ["Yes"])
#df2.tail(5)

,Timestamp,Email Address,Name of student,seat number,enrollment number,roll number,email id (only gmail which we can use at the time of practical viva)
29,09-11-2020 22:33,sherkarsahil@gmail.com,Sahil,131297,1805480159,31.0,Sherkarsahil@gmail.com
30,NaN,a@a.com,NaN,101010101,Yes,NaN,a@a.com
31,NaN,a@a.com,NaN,101010101,No,NaN,a@a.com
32,NaN,a@a.com,NaN,101010101,Yes,NaN,a@a.com
33,NaN,a@a.com,NaN,101010101,No,NaN,a@a.com

In [35]:
df3 = pd.read_csv('D:\\ML FDP\\certi\\practice2.csv', true_values = ["Yes"], false_values = ["No"])
df3

  Col1 Col2   Col3
0    A    B   True
1    X    Y  False
2    P    Q   True
3    L    M  False

# Handling missing values

In [44]:
df4 = pd.read_csv('D:\\ML FDP\\certi\\student.csv')
df4.head()

,Timestamp,Email Address,Name of student,seat number,enrollment number,roll number,email id (only gmail which we can use at the time of practical viva)
0,09-11-2020 21:17,shubhamchavan957@gmail.com,Shubham Jitendra Chavan,131267,1505480163,1.0,shubhamchavan957@gmail.com
1,09-11-2020 21:03,salmansalways@gmail.com,Mohd. Salman,131268,1705480069,2.0,salmansalways@gmail.com
2,09-11-2020 21:07,siddhikale23@gmail.com,Siddhi Kale,131269,1705480084,3.0,Siddhikale23@gmail.com
3,09-12-2020 00:00,mandtsurve78@gmail.com,Mandar Dilip Surve,131270,1705480086,4.0,mandtsurve78@gmail.com
4,09-12-2020 00:26,siddharthdyamgond@gmail.com,Siddharth Dyamgond,131271,1705480088,5.0,siddharthdyamgond@gmail.com

In [41]:
#handle null values 
df4 = pd.read_csv('D:\\ML FDP\\certi\\student.csv', na_values = ['Not available','Missing Name value'])
df4.tail(5)

,Timestamp,Email Address,Name of student,seat number,enrollment number,roll number,email id (only gmail which we can use at the time of practical viva)
29,09-11-2020 22:33,sherkarsahil@gmail.com,Sahil,131297,1805480159,31.0,Sherkarsahil@gmail.com
30,NaN,a@a.com,NaN,101010101,Yes,NaN,a@a.com
31,NaN,NaN,NaN,101010101,No,NaN,a@a.com
32,NaN,a@a.com,NaN,101010101,Yes,NaN,a@a.com
33,NaN,NaN,NaN,101010101,No,NaN,a@a.com

In [43]:
#handle null values of specific coloumn
df4 = pd.read_csv('D:\\ML FDP\\certi\\student.csv', na_values = {'Email Address':'Not available','Name of student':'Missing Name value'})
df4.tail(5)

,Timestamp,Email Address,Name of student,seat number,enrollment number,roll number,email id (only gmail which we can use at the time of practical viva)
29,09-11-2020 22:33,sherkarsahil@gmail.com,Sahil,131297,1805480159,31.0,Sherkarsahil@gmail.com
30,NaN,a@a.com,NaN,101010101,Yes,NaN,a@a.com
31,NaN,NaN,NaN,101010101,No,NaN,a@a.com
32,NaN,a@a.com,NaN,101010101,Yes,NaN,a@a.com
33,NaN,NaN,NaN,101010101,No,NaN,a@a.com

In [48]:
#to keep null values unchanged to Nan
df4 = pd.read_csv('D:\\ML FDP\\certi\\student.csv', keep_default_na = False)
df4.tail()

,Timestamp,Email Address,Name of student,seat number,enrollment number,roll number,email id (only gmail which we can use at the time of practical viva)
29,09-11-2020 22:33,sherkarsahil@gmail.com,Sahil,131297,1805480159,31,Sherkarsahil@gmail.com
30,,a@a.com,Missing Name value,101010101,Yes,#NA,a@a.com
31,,Not available,Missing Name value,101010101,No,#N/A,a@a.com
32,,a@a.com,Missing Name value,101010101,Yes,,a@a.com
33,,Not available,Missing Name value,101010101,No,,a@a.com

In [52]:
#to boost performance use na_filter
df4 = pd.read_csv('D:\\ML FDP\\certi\\student.csv', na_filter = True)
df4

,Timestamp,Email Address,Name of student,seat number,enrollment number,roll number,email id (only gmail which we can use at the time of practical viva)
0,09-11-2020 21:17,shubhamchavan957@gmail.com,Shubham Jitendra Chavan,131267,1505480163,1.0,shubhamchavan957@gmail.com
1,09-11-2020 21:03,salmansalways@gmail.com,Mohd. Salman,131268,1705480069,2.0,salmansalways@gmail.com
2,09-11-2020 21:07,siddhikale23@gmail.com,Siddhi Kale,131269,1705480084,3.0,Siddhikale23@gmail.com
3,09-12-2020 00:00,mandtsurve78@gmail.com,Mandar Dilip Surve,131270,1705480086,4.0,mandtsurve78@gmail.com
4,09-12-2020 00:26,siddharthdyamgond@gmail.com,Siddharth Dyamgond,131271,1705480088,5.0,siddharthdyamgond@gmail.com
5,09-11-2020 20:59,Vaishnavimore2210@gmail.com,Vaishnavi Santosh More,131272,1705480090,6.0,Vaishnavimore2210@gmail.com
6,09-12-2020 00:24,sakshisonone10@gmail.com,Sakshi Sanjeev Sonone,131273,1705480091,7.0,sakshisonone10@gmail.com
7,09-11-2020 23:05,abidhk27@gmail.com,Mohammed Abid Hanif Khan,131274,1705480094,8.0,abidhk27@gmail.com
8,09-12-2020 12:44,akanshapatil2001@gmail.com,Akansha Anandrao Patil,131275,1705480097,9.0,akanshapatil2001@gmail.com
9,09-11-2020 20:54,official.avdhutgharat@gmail.com,Avdhut Gharat,131276,1705480099,10.0,official.avdhutgharat@gmail.com
10,09-11-2020 21:00,heetraichura1543@gmail.com,Heet Himanshu Raichura,131277,1705480100,11.0,heetraichura1543@gmail.com
11,09-11-2020 22:38,sana12nasur@gmail.com,Nasur Sana Shabbirahamad,131278,1705480102,12.0,sana12nasur@gmail.com
12,09-11-2020 23:56,namratathakur2505@gmail.com,Namrata Chandrakant Thakur,131279,1705480103,13.0,namratathakur2505@gmail.com
13,09-11-2020 20:58,DARSHANCHIKHALEKAR123@GMAIL.COM,DARSHAN RAM CHIKHALEKAR,131280,1705480104,14.0,DARSHANCHIKHALEKAR123@GMAIL.COM
14,09-11-2020 21:02,kadukaushal2002@gmail.com,Kaushal Dayaram Kadu,131281,1705480106,15.0,kadukaushal2002@gmail.com
15,09-12-2020 12:04,surabhiyerunkar20@gmail.com,Surabhi sujit yerunkar,131282,1705480107,16.0,surabhiyerunkar20@gmail.com
16,09-11-2020 20:58,patilom04022002@gmail.com,Om Nitin Patil,131283,1705480110,17.0,patilom04022002@gmail.com
17,09-11-2020 23:44,shrutisatam1999@gmail.com,Shruti Sanjay Satam,131284,1705480114,18.0,shrutisatam1999@gmail.com
18,09-11-2020 21:01,khutarkar99@gmail.com,Bhushan Khutarkar,131285,1705480117,19.0,khutarkar99@gmail.com
19,09-12-2020 12:10,shubhamghadigaonkar185@gmail.com,Shubham ghadigaonkar,131286,1705480119,20.0,Shubhamghadigaonkar185@gmail.com
20,09-11-2020 20:55,akash.bharnuke@gmail.com,Bharnuke Akash Dilip,131287,1705480122,21.0,akash.bharnuke@gmail.com
21,09-12-2020 13:14,kajal.gajare25@gmail.com,Supriya Chokha Gajare,131289,1705480127,23.0,kajal.gajare25@gmail.com
22,09-11-2020 21:11,manvi.bhaldare@gmail.com,Manvi Mahendra Bhaldare,131290,1705480128,24.0,manvi.bhaldare@gmail.com
23,09-11-2020 21:16,rushikesh2310patil@gmail.com,Rushikesh Vilas Patil,131291,1705480129,25.0,rushikesh2310patil@gmail.com
24,09-12-2020 13:17,donaryansingh46@gmail.com,aryan singh,131292,1705480131,26.0,donaryansingh46@gmail.com
25,09-12-2020 06:26,nehasingh5963@gmail.com,Neha V Singh,131293,1805480135,27.0,nehasingh5963@gmail.com
26,09-11-2020 21:29,purvapatil8081@gmail.com,Purva Pradeep Patil,131294,1805480137,28.0,purvapatil8081@gmail.com
27,09-11-2020 21:50,joshijyoti845408@gmail.com,Joshi Jyoti Jitendra,131295,1805480141,29.0,joshijyoti845408@gmail.com
28,09-11-2020 21:06,niharkhot123@gmail.com,Nihar Sameer Khot,131296,1805480158,30.0,niharkhot123@gmail.com
29,09-11-2020 22:33,sherkarsahil@gmail.com,Sahil,131297,1805480159,31.0,Sherkarsahil@gmail.com
30,NaN,a@a.com,Missing Name value,101010101,Yes,NaN,a@a.com
31,NaN,Not available,Missing Name value,101010101,No,NaN,a@a.com
32,NaN,a@a.com,Missing Name value,101010101,Yes,NaN,a@a.com
33,NaN,Not available,Missing Name value,101010101,No,NaN,a@a.com

In [53]:
#to see how many null values are there in dataframe or series
df4.isnull()

,Timestamp,Email Address,Name of student,seat number,enrollment number,roll number,email id (only gmail which we can use at the time of practical viva)
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False
30,True,False,False,False,False,True,False
31,True,False,False,False,False,True,False
32,True,False,False,False,False,True,False
33,True,False,False,False,False,True,False

In [54]:
#to check coont of missing values in each coloumn
df4.isnull().sum()

Timestamp                                                               4
Email Address                                                           0
Name of student                                                         0
seat number                                                             0
enrollment number                                                       0
roll number                                                             4
email id (only gmail which we can use at the time of practical viva)    0
dtype: int64

In [55]:
#to count sum of all missing values
df4.isnull().sum().sum()

8

In [56]:
#notnull() is opposite to isnull()
df4.notnull()

,Timestamp,Email Address,Name of student,seat number,enrollment number,roll number,email id (only gmail which we can use at the time of practical viva)
0,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True
6,True,True,True,True,True,True,True
7,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True
10,True,True,True,True,True,True,True
11,True,True,True,True,True,True,True
12,True,True,True,True,True,True,True
13,True,True,True,True,True,True,True
14,True,True,True,True,True,True,True
15,True,True,True,True,True,True,True
16,True,True,True,True,True,True,True
17,True,True,True,True,True,True,True
18,True,True,True,True,True,True,True
19,True,True,True,True,True,True,True
20,True,True,True,True,True,True,True
21,True,True,True,True,True,True,True
22,True,True,True,True,True,True,True
23,True,True,True,True,True,True,True
24,True,True,True,True,True,True,True
25,True,True,True,True,True,True,True
26,True,True,True,True,True,True,True
27,True,True,True,True,True,True,True
28,True,True,True,True,True,True,True
29,True,True,True,True,True,True,True
30,False,True,True,True,True,False,True
31,False,True,True,True,True,False,True
32,False,True,True,True,True,False,True
33,False,True,True,True,True,False,True

In [57]:
df4.notnull().sum()

Timestamp                                                               30
Email Address                                                           34
Name of student                                                         34
seat number                                                             34
enrollment number                                                       34
roll number                                                             30
email id (only gmail which we can use at the time of practical viva)    34
dtype: int64

In [58]:
df4.notnull().sum().sum()

230